@model Wishes.Web.Models.WishList.WishListModel

@{
    ViewBag.Title = "Verlanglijstje van " + Model.User.Name;
}

<h2>Verlanglijstje van @Model.User.Name</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @Model.User.Address <br />
        @Model.User.Zipcode @Model.User.City <br /><br />
        Schoorsteen: @Html.DisplayFor(m => m.User.ChimneySize)
    </div>
    
</div>
    
<ul class="list-group">
    @foreach (var item in Model.Items)
    {
        <li class="list-group-item">@item.ProductName</li>
    }
</ul>
        
<form role="form" id="form-delete" action="" method="post">
    <button type="submit" class="btn btn-danger">Verlanglijstje verwijderen</button>
</form>
