@model Wishes.Web.Models.WishList.WishListModel

@{
    ViewBag.Title = "Verlanglijstje van " + Model.User.Name;
}

<h2>Verlanglijstje van @Model.User.Name</h2>

<form role="form" class="form-inline" id="form-add-item">
    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(m => m.Item.ProductName, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Item.ProductName, new { @class = "form-control input-lg", placeholder = "Naam van cadeautje" })
            <i class="glyphicon glyphicon-gift form-control-feedback"></i>
        </div>
    </div>

    <button type="submit" class="btn btn-lg btn-primary">Toevoegen</button>
</form>

<hr />

<div style="max-width: 400px">
    <ul class="list-group" id="wish-list">
        @foreach (var item in Model.Items)
        {
            <li class="list-group-item" data-item-id="@item.Id">
                @item.ProductName
                <a href="#" style="padding: 3px 2px;" class="item-remove pull-right"><i class="glyphicon glyphicon-remove"></i></a>
                <a href="#" style="padding: 3px 2px;" class="item-down pull-right"><i class="glyphicon glyphicon-chevron-down"></i></a>
                <a href="#" style="padding: 3px 2px;" class="item-up pull-right"><i class="glyphicon glyphicon-chevron-up"></i></a>
            </li>
        }
    </ul>
</div>

@section scripts
{
    <script type="text/javascript">
        $('#form-add-item').submit(function() {
            $.post(
                '@Url.Action("AddItem", "WishList")',
                $(this).serialize(),
                function(result) {
                    if (result.success) {
                        $('#wish-list').append(
                            '<li class="list-group-item" data-item-id="' + result.id + '">' +
                            result.item +
                            '<a href="#" style="padding: 3px 2px;" class="item-remove pull-right"><i class="glyphicon glyphicon-remove"></i></a>' +
                            '<a href="#" style="padding: 3px 2px;" class="item-down pull-right"><i class="glyphicon glyphicon-chevron-down"></i></a>' +
                            '<a href="#" style="padding: 3px 2px;" class="item-up pull-right"><i class="glyphicon glyphicon-chevron-up"></i></a>' +
                            '</li>');
                    }
                }
            );

            console.log(JSON.stringify($(this).serialize()));
            return false;
        });

        $('.item-remove').click(function () {
            var item = $(this).closest('li');
            $.post(
                '@Url.Action("RemoveItem", "WishList")',
                {
                    id: item.data('item-id')
                },
                function(result) {
                    if (result.success) {
                        item.remove();
                    }
                });
        });
    </script>
}
